.services-container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100px;
}
.services{
    color:var(--text-color);
    font-size: 1.8rem;
    line-height: 23.8px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--text-color);
}
@media screen and (max-width:746px) {
    .services-container{
        display: none;
    }
  }